.env

# .gitignore


Moon/.streamlit/secrets.toml

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --- Virtual env ---
.venv/
venv/
env/

# --- Streamlit ---
.streamlit/cache/
.streamlit/secrets.toml

# --- Jupyter ---
.ipynb_checkpoints/

# --- OS / Editor ---
.DS_Store
*.swp
*.log

# --- Node (if exists) ---
node_modules/

# --- Build ---
dist/
build/

# --- Data / Keys ---
*.env
*.pem
*.key
*.crt
*.p12

# --- Images too large (optional) ---
*.psd
*.ai
